.wrapper {
  width: 194px;
  height: 90px;
  flex-grow: 0;
  margin: 14.9px 0 12px 27.7px;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  .search {
    width: 100%;
    text-align: center;
  }
  .suggestion {
    display: block;
    flex-direction: column;
  }
}
