.wrapper {
  width: 194px;
  height: 90px;
  flex-grow: 0;
  margin: 14.9px 0 12px 27.7px;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  .search {
    width: 100%;
    text-align: center;
  }
  .suggestions {
    display: flex;
    flex-direction: column;
    margin-top: 6px;

    align-items: flex-start;
    width: 100%;
    .item {
      margin-left: 1em;
      zoom: 0.9;
    }
  }
}
