.container {
  border: 1px snow solid;

  > .navParent {
    cursor: pointer;
    height: 2.5em;
    display: flex;
    text-decoration: none;
    color: black;
    .icon {
      line-height: 3em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3em;
      transform: rotate(0deg);
      transition: 0.4s;
      padding-bottom: 0.2em;
      img {
        width: 18px;
        height: 18px;
      }
    }
    .textContent {
      line-height: 2.45em;
      flex-grow: 10;
      font-size: 100%;
      font-weight: 600;
      text-align: left;
    }
    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2em;
      img {
        width: 1.1em;
      }
    }
  }
  .subMenu {
    height: 0;
  }

  :hover {
  }
}

// .subMenu {
//   display: none;
// }

.hideDefault {
  background: #fff;
  overflow: hidden;
  color: #000;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
  height: 0;
  transform: rotate(0deg);
}
.openSubMenu {
  height: auto;
  font-weight: 800;
  color: #609ef1;
}
.animationActive {
  width: 100px;
  height: 100px;
  transform: rotate(-180deg);
  transition: 0.4s;
}
@keyframes backOnHide {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
