<div class="container">
  <div (click)="handleActive(dataChildren.id)" class="navParent">
    <div class="icon">
      <ng-template [ngIf]="dataChildren.icon">
        <img src="{{ dataChildren.icon }}" alt=""
      /></ng-template>
    </div>
    <div class="textContent">{{ dataChildren.textNavContent }}</div>
    <div class="arrow">
      <img
        [class.animationActive]="active"
        src="../../../assets/icon/chevron-down-inactive.svg"
        alt=""
      />
    </div>
  </div>
  <div class="subMenu" class="hideDefault" [class.openSubMenu]="active">
    <ng-container *ngFor="let item of dataChildren.children">
      <ng-container *ngIf="item.type === 'group'">
        <app-list-item-side-bar [dataChildren]="item"></app-list-item-side-bar>
      </ng-container>
      <ng-container *ngIf="item.type === 'menuItem'">
        <app-item-side-bar
          [icon]="item.icon"
          [title]="item.textNavContent"
          [path]="item.path"
        ></app-item-side-bar>
      </ng-container>
      <ng-container *ngIf="item.type === 'finalItem'">
        <app-item-side-bar
          [icon]="item.icon"
          [title]="item.textNavContent"
          [path]="item.path"
        ></app-item-side-bar>
      </ng-container>
    </ng-container>
  </div>
</div>
