.container {
  padding: 0 0.5em;
  border: 1px snow solid;
  a {
    height: 3em;
    display: flex;
    text-decoration: none;
    color: black;
    .icon {
      flex-grow: 1;
      line-height: 3em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1em;
      padding-bottom: 0.2em;
    }
    .textContent {
      line-height: 2.45em;
      flex-grow: 10;
      font-size: 1.15em;
      font-weight: 600;
      padding-left: 1em;
    }
    .arrow {
      flex-grow: 2;
      line-height: 3em;
      display: flex;
      align-items: center;
      line-height: 3em;
    }
  }
}
