.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 450px;
  height: 190px;
  padding: 0 18px 0 29px;
  border-radius: 20px;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;

  .macAddress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    .title {
      display: flex;
      align-items: center;
      letter-spacing: 0.5px;
      font-size: 18px;
      font-weight: 300;
      min-width: 193px;
      border-right: #396ab8 3px solid;
      height: 100%;
    }
    .input {
    }
  }
  .searchTestAccount {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    > .title {
      display: flex;
      align-items: center;
      letter-spacing: 0.5px;
      font-size: 20px;
      font-weight: 300;
      width: 193px;
      border-right: #396ab8 3px solid;
      height: 100%;
    }
    .input {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}
