.wrapper {
  display: flex;
  height: 32px;
  justify-content: space-between;
  background-color: #fbf9f9;
  border: solid 1.5px transparent;
  caret-color: rgb(254, 44, 85);
  align-content: center;
  .icon {
    cursor: pointer;
    margin: auto;
    flex-grow: 2;
    border: none !important;
    outline: none !important;
    height: 100%;
    width: var(--width-btn_search);
    background-origin: content-box;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: transparent;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
      cursor: pointer;
      background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
      cursor: pointer;
      background-color: rgba(22, 24, 35, 0.06);
    }
    img {
      padding-top: 0.3em;
    }
  }
  .input {
    flex-grow: 10;
    margin: auto;

    .inputAttribute {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      border: none;
      background: transparent;
      outline: none;
      padding: 0px;
      padding-left: 1em;
      width: 252px;
      caret-color: rgb(254, 44, 85);
      flex-grow: 2;
      caret-color: var(--primary);
    }
    &:focus-within {
      border-color: rgba(22, 24, 35, 0.2);
    }
  }
}
