.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .contentLogo {
    height: 4em;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #ff1a7d;
    img {
      padding-left: 1em;
      padding-top: 1em;
      height: 2em;
    }
  }
  .contentAside {
    flex-grow: 3;
    height: 100%;
  }
}

// responsive in  break point
