<aside class="container">
  <div class="contentLogo">
    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="../../../assets/logo/logo_v1.png" alt=""
    /></a>
  </div>
  <ul class="contentAside">
    <li>
      <div
        class="container"
        *ngFor="let item of mockApiConfigNavBar"
        class="children"
      >
        <div *ngIf="item.type === 'menuItem'">
          <app-item-side-bar
            [icon]="item.icon"
            [title]="item.textNavContent"
            [path]="item.path"
          ></app-item-side-bar>
        </div>
        <ng-container *ngIf="item.type === 'group'">
          <app-list-item-side-bar
            [dataChildren]="item"
          ></app-list-item-side-bar>
        </ng-container>
      </div>
    </li>
  </ul>
</aside>
