/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
}

:root {
  --mainBackground: linear-gradient(
    to right,
    #4f89e5 18%,
    #4f89e5 54%,
    #6fb1fc 99%
  );
  --mainColor: #609ef1;
  --colorTextNormal: #609ef1;
  --subBackground: #d8e8fc;
  --main-text-color: #424141;
}
