<div class="wrapper">
  <div class="conditionBox">
    <div class="findByHardSection">
      <div class="modelAndRegion">
        <app-condition-box-model-and-region>
        </app-condition-box-model-and-region>
      </div>
      <div class="macAndAccountType">
        <app-condition-box-mac-and-account-type>
        </app-condition-box-mac-and-account-type>
      </div>
    </div>
    <div class="findByTime">
      <div class="period">
        <app-condition-boxfind-by-period-time></app-condition-boxfind-by-period-time>
      </div>
      <div class="month">
        <app-condition-boxfind-by-month></app-condition-boxfind-by-month>
      </div>
    </div>

    <div class="wrapperButton">
      <button>a</button>
      <button>b</button>
    </div>
  </div>
  <div class="table">table</div>
</div>
