.wrapper {
  display: flex;
  flex-direction: column;

  .conditionBox {
    background-color: var(--subBackground);
    width: 90%;
    margin: 40px auto;

    height: 369px;
    flex-grow: 0;
    border-radius: 30px;

    box-shadow: 0 7px 14px 0 #4f89e5;
    background-color: #d8e8fc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .findByHardSection {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      .modelAndRegion {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
      }
      .macAndAccountType {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
      }
    }
    .findByTime {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 15px;
      box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.15);
      background-color: #fff;
      height: 50px;
      width: 90%;
      margin: 0 auto;
      .period {
      }
      .month {
        width: 50%;
      }
    }
    .wrapperButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
